<%= stylesheet_link_tag    "typeahead", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "datepicker", media: "all", "data-turbolinks-track" => true %>

<form id="create_transaction" action="/welcome/post_transaction" method="post">
	<input class="typeahead" type="text" name="Name" placeholder="Search for people" >
	<input type="hidden" name="BorrowerKey">
	<input type="hidden" name="B_Picture">
	<input type="hidden" name="BorrowerEmail">
	<input type="text" name="Amount" placeholder="Amount" id="Amount">

	<input type="text" name="Date" class="datepicker" data-date-format="dd-mm-yyyy" placeholder="Date">
	<input type="textbox" name="Description" placeholder="Description">
	<input type="submit" value="Submit" id="submit">
</form>

<p>
	<a href="/welcome/home">Go back home</a>
</p>


<%= javascript_include_tag "bootstrap-datepicker", "data-turbolinks-track" => true %>

<%= javascript_include_tag "typeahead.bundle", "data-turbolinks-track" => true %>
<%= javascript_include_tag "typeahead.jquery", "data-turbolinks-track" => true %>
<%= javascript_include_tag "typeahead.bundle.min", "data-turbolinks-track" => true %>

<%= javascript_include_tag "jquery.validate", "data-turbolinks-track" => true %>

<script>
	$(".datepicker").datepicker('hide');
	$('.datepicker').on('changeDate', function(ev){
	    $(this).datepicker('hide');
	});

	var substringMatcher = function(strs) {
	  return function findMatches(q, cb) {
	    var matches, substringRegex;
	 
	    // an array that will be populated with substring matches
	    matches = [];
	 
	    // regex used to determine if a string contains the substring `q`
	    substrRegex = new RegExp(q, 'i');
	 
	    // iterate through the pool of strings and for any string that
	    // contains the substring `q`, add it to the `matches` array
	    $.each(strs, function(i, str) {
	      if (substrRegex.test(str.Name)) {
	        // the typeahead jQuery plugin expects suggestions to a
	        // JavaScript object, refer to typeahead docs for more info
	        matches.push({ value: str, name: str.Name, id: str.ID, profile_picture: str.Profile_Picture});
	      }
	    });
	 
	    cb(matches);
	  };
	};
	 
	var all_users = <%= raw CGI.unescapeHTML(@all_users) %>;

	$(' .typeahead').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'all_users',
	  displayKey: 'name',
	  source: substringMatcher(all_users)
	}).on("typeahead:selected typeahead:autocompleted", function(e, suggestion, name){
		document.getElementById("create_transaction").elements["BorrowerKey"].value = suggestion.id;
		document.getElementById("create_transaction").elements["B_Picture"].value = suggestion.profile_picture;
		document.getElementById("create_transaction").elements["BorrowerEmail"].value = suggestion.Email;
	});

	$("#Amount").on("keyup", function(){
    var valid = /^\d{0,4}(\.\d{0,2})?$/.test(this.value),
      val = this.value;    
    if(!valid){
      this.value = val.substring(0, val.length - 1);
    }
	});

	$("#create_transaction").validate({
	  rules: {
	    // simple rule, converted to {required:true}
	    Name: "required",
	    // compound rule
	    Amount: {
	      required: true,
	      number: true
	    },
	    Date: "required",
	    Description: {
	    	maxlength: 255
	    }
	  }
	});
</script>