<%= stylesheet_link_tag    "datepicker", media: "all", "data-turbolinks-track" => true %>

<form id="create_transaction" action="/welcome/post_transaction" method="post">
	Name: <input class="typeahead" type="text" name="Name" placeholder="Search for people" ><br>
	<input type="hidden" name="BorrowerKey">
	Amount: <input type="text" name="Amount"><br>
	Today's Date: <input type="text" name="Date" class="datepicker" data-date-picker="dd-mm-yyyy"><br>
	Description: <input type="textbox" name="Description"><br>
	<input type="submit" value="Submit">
</form>

<p>
	<a href="/welcome/home">Go back home</a>
</p>


<%= javascript_include_tag "bootstrap-datepicker", "data-turbolinks-track" => true %>

<%= javascript_include_tag "typeahead.bundle", "data-turbolinks-track" => true %>
<%= javascript_include_tag "typeahead.jquery", "data-turbolinks-track" => true %>
<%= javascript_include_tag "typeahead.bundle.min", "data-turbolinks-track" => true %>

<script>
	$(".datepicker").datepicker('hide');

	var substringMatcher = function(strs) {
	  return function findMatches(q, cb) {
	    var matches, substringRegex;
	 
	    // an array that will be populated with substring matches
	    matches = [];
	 
	    // regex used to determine if a string contains the substring `q`
	    substrRegex = new RegExp(q, 'i');
	 
	    // iterate through the pool of strings and for any string that
	    // contains the substring `q`, add it to the `matches` array
	    $.each(strs, function(i, str) {
	      if (substrRegex.test(str.Name)) {
	        // the typeahead jQuery plugin expects suggestions to a
	        // JavaScript object, refer to typeahead docs for more info
	        matches.push({ value: str, name: str.Name, id: str.ID});
	      }
	    });
	 
	    cb(matches);
	  };
	};
	 
	var all_users = <%= raw CGI.unescapeHTML(@all_users) %>;

	$(' .typeahead').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'all_users',
	  displayKey: 'name',
	  source: substringMatcher(all_users)
	}).on("typeahead:selected typeahead:autocompleted", function(e, suggestion, name){
		document.getElementById("create_transaction").elements["BorrowerKey"].value = suggestion.id;
	});
</script>