<div class="greeting">
	<img src="<%= @user.profile_picture + '?width=100&height=100' %>" style="border-radius:50%"/><br />
	hello, <strong><%= @user.first_name + ' ' + @user.last_name %></strong>
</div>

<a href="/welcome/profile" id="profile">MY PROFILE</a>
<a href="/transaction/create" id="c_transaction">CREATE TRANSACTION</a>
<a href="/welcome/iou" id="iou_button">PEOPLE WHOM I OWE MONEY TO</a>
<a href="/welcome/uoi" id="uoi_button">PEOPLE WHO OWE ME MONEY</a>

<%= javascript_include_tag "vex.combined.min.js", "data-turbolinks-track" => true %>
<script>vex.defaultOptions.className = 'vex-theme-os';</script>
<%= stylesheet_link_tag    "vex", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "vex-theme-os", media: "all", "data-turbolinks-track" => true %>
<script>
	// $(document).ready( function() {
	// 	var check = <%= session[:email_check] %>;
	// 	if (!check) {
	// 			vex.dialog.prompt({
	// 			message: 'Please enter your e-mail',
	// 			placeholder: 'Email',
	// 			callback: function(value) {
	// 				if (value != false) {
	// 					var x = value;
	// 					var atpos = x.indexOf("@");
	// 					var dotpos = x.lastIndexOf(".");
	// 					if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
	// 						location.reload();
	// 					} else {
	// 						var e = encodeURIComponent(value.replace(/\./g, '&#46;'))
	// 						window.location.replace("/welcome/home/" + e);
	// 					}
	// 				}
	// 			}
	// 		});
	// 	}
	// })
</script>