<div class="tabs">
    <a href="/welcome/iou" <% if @status == "all" %>class="active"<% end %>>All</a>
    <a href="/welcome/iou/unpaid" <% if @status == "all" %>class="unpaid"<% end %>>Unpaid</a>
    <a href="/welcome/iou/paid" <% if @status == "all" %>class="paid"<% end %>>Paid</a>
    <a href="/welcome/iou/rejected" <% if @status == "rejected" %>class="active"<% end %>>Rejected</a>
</div>
			


<% if @transactions %>
	<% @transactions.each do |t| %>
		<div class="transaction_container">
			<div class="transaction_box <% if t["Reject"] %> red <% elsif t["Paidback"] %> green <% end %>">
				<img src="<%= t['LPicture'] %>" class="transaction_pic" />
				<div class="transaction_details">
					You owe <b><%= t["First_Name_L"] + ' ' + t["Last_Name_L"] %></b>
					<div class="amount">
						<%= t["Currency_Symbol"] %><%= t["Amount"] %> (<%= t["Currency_Name"] %>)
					</div>
					<a href="#" class="more_options"></a>
				</div>
				<div class="options" style="display:none">
					<div class="transaction_description">
						<h1>Description</h1>
						<%= t["Description"] %>
					</div>
					<h1>Status</h1>
					<% if t["Paidback"] %>
						Paidback on <%= Date.parse(t["DatePaidBack"]).strftime("%d-%m-%Y") %>
					<% elsif t["Reject"] %>
						Rejected
					<% else %>
						Unpaid
					<% end %>
					- Requested on <%= Date.parse(t["Date"]).strftime("%d-%m-%Y") %>
					<% unless t["Reject"] or t["Paidback"] %>
						<a href="#" data-id=<%= t['ID'] %> class="reject_button reject-confirm" >Reject</a>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
<% else %>
	You owe no one money!
<% end %>

<p>
	<a href="/welcome/home">Go back home</a>
</p>

<%= javascript_include_tag "vex.combined.min.js", "data-turbolinks-track" => true %>
<script>vex.defaultOptions.className = 'vex-theme-os';</script>
<%= stylesheet_link_tag    "vex", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "vex-theme-os", media: "all", "data-turbolinks-track" => true %>

<script>
	$(document).ready(function () {
	    $(".transaction_details").click( function(e) {
	    	e.preventDefault();
	    	var arrow = $(this).children(".more_options");
	        var box = $(this).siblings(".options");
	        $(box).slideToggle(function () {
	            if ($(box).is(":visible")) {
	                $(arrow).css("background-image", "url(http://i.imgur.com/iqVwIpT.png)");
	            } else {
	                $(arrow).css("background-image", "url(http://i.imgur.com/xk7c9PB.png)");
	            }
	        });
	    });

	    $(".reject-confirm").click( function() {
	    	var t = $(this);
	    	vex.dialog.confirm({
				message: 'Are you sure you want to reject this transaction?',
				callback: function(value) {
					if (value) {
						window.location.replace("/welcome/reject/" + t.data("id"));
					}
				}
			});
	    })
	
	});
</script>