<%= stylesheet_link_tag    "typeahead", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "datepicker", media: "all", "data-turbolinks-track" => true %>

<form id="create_transaction">
	<input class="typeahead" type="text" name="Name" placeholder="Search for people" >
	<input type="hidden" name="BorrowerKey">
	<input type="hidden" name="B_Picture">
	<input type="hidden" name="BorrowerEmail" id="be">
	<input type="text" name="Amount" placeholder="Amount" id="Amount">
	<input type="text" name="Date" class="datepicker" data-date-format="dd-mm-yyyy" placeholder="Date">
	<input type="textbox" name="Description" placeholder="Description">
	<input type="submit" value="Submit" id="submit">
</form>

<div id="success" style="display:none">
	Your transaction has been created! <%= link_to 'View transaction?', uoi_path %> or <%= link_to 'create another transaction?', transaction_create_path %>
</div>


<%= javascript_include_tag "bootstrap-datepicker", "data-turbolinks-track" => true %>

<%= javascript_include_tag "typeahead.bundle", "data-turbolinks-track" => true %>
<%= javascript_include_tag "typeahead.jquery", "data-turbolinks-track" => true %>
<%= javascript_include_tag "typeahead.bundle.min", "data-turbolinks-track" => true %>

<%= javascript_include_tag "jquery.validate", "data-turbolinks-track" => true %>

<script>var all_users = <%= raw CGI.unescapeHTML(@all_users) %>;</script>
<%= javascript_include_tag "create_transaction", "data-turbolinks-track" => true %>
