<ul class="transaction_container">
	<% @transactions.each do |t| %>
		<% l = User.find(t.id_l) %>
		<li data-id=<%= t.id %>>
			<img src="<%= l.profile_picture %>" class="transaction_pic" />
			<% if t.reject %>
				<div class="icon"><i class="fa fa-2x fa-times reject"></i></div>
				You rejected <b><%= l.fullname %></b> of <div class="money">$<%= sprintf('%.2f', t.amount) %></div>
			<% elsif t.paidback %>
				<div class="icon"><i class="fa fa-2x fa-check check"></i></div>
				You paidback <b><%= l.fullname %></b> <div class="money">$<%= sprintf('%.2f', t.amount) %></div>
			<% else %>
				<div class="icon"><i class="fa fa-2x fa-money owe"></i></div>
				You owe <b><%= l.fullname %></b> <div class="money">$<%= sprintf('%.2f', t.amount) %></div>
			<% end %>
		</li>
	<% end %>
</ul>
<div class="show_transaction">
	<div class="pic">
		<img src="#" class="transaction_pic borrower" />
		<i class="fa fa-2x fa-arrow-right"></i>
		<img src="#" class="transaction_pic lender" />
	</div>
	<div class="header">
		<div class="l_fullname"></div> owes <div class="b_fullname"></div>
		<h1 class="amount"></h1>
	</div>
	<div class="details">
		<table class="details_table">
			<tr>
				<td>Status</td>
				<td class="status"></td>
			</tr>
		</table>
	</div>
</div>
<%= javascript_include_tag "transactions/iou-uoi" %>