<ul class="transaction_container">
	<% @transactions.each do |t| %>
		<% b = User.find(t.id_b) %>
		<li data-id=<%= t.id %>>
			<img src="<%= b.profile_picture %>" class="transaction_pic" />
			<% if t.reject %>
				<div class="icon"><i class="fa fa-2x fa-times reject"></i></div>
				<b><%= b.fullname %></b> rejected <div class="money">$<%= sprintf('%.2f', t.amount) %></div>
			<% elsif t.paidback %>
				<div class="icon"><i class="fa fa-2x fa-check check"></i></div>
				<b><%= b.fullname %></b> paidback <div class="money">$<%= sprintf('%.2f', t.amount) %></div>
			<% else %>
				<div class="icon"><i class="fa fa-2x fa-money owe"></i></div>
				<b><%= b.fullname %></b> owes <div class="money">$<%= sprintf('%.2f', t.amount) %></div>
			<% end %>
		</li>
	<% end %>
</ul>

<%= javascript_include_tag "transactions/iou-uoi" %>