<!DOCTYPE html>
<head>
	<title>LOANIFY</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<%= stylesheet_link_tag "transaction", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "app", media: "all", "data-turbolinks-track" => true %>

	<%= stylesheet_link_tag "font-awesome.css", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "sign_in", media: "all", "data-turbolinks-track" => true %>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<%= stylesheet_link_tag "flat-ui", media: "all", "data-turbolinks-track" => true %>

	<%= javascript_include_tag "trunk", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" href="#">loanify</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-01">
			<ul class="nav navbar-nav">           
				<li class="active"><a href="/profile">Profile</a></li>
				<li><a href="/transaction/create">Create</a></li>
				<li><a href="/iou">Debts</a></li>
				<li><a href="/uoi">Loans</a></li>
				<li><%= link_to(raw('Logout'), destroy_user_session_path, :method => :delete) %></li>
			</ul>           
		</div><!-- /.navbar-collapse -->
	</nav>
	<div class="container-fluid">

		<div class="row content">
			<%= yield %>
		</div>
	</div>

</body>
</html>
