<!DOCTYPE html>
<head>
	<title>LOANIFY</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "transaction", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "reset", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "trunk", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "font-awesome.css", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "sign_in", media: "all", "data-turbolinks-track" => true %>


	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<%= javascript_include_tag "trunk", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
				<header class="slide">     <!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
			<ul id="navToggle" class="burger slide">    <!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
				<li></li><li></li><li></li>
			</ul>
			<h1>loanify</h1>
		</header>
		<div class="cNavBar">

		<nav class="slide close">
			<ul>
				<li><a href="/profile" class="active"><i class="fa fa-user" style="width:20px"></i>Profile</a></li>
				<li><a href="/transaction/create"><i class="fa fa-star"style="width:20px"></i>Create</a></li>
				<li><a href="/iou"><i class="fa fa-money"style="width:20px"></i>Debts</a></li>
				<li><a href="/uoi"><i class="fa fa-usd"style="width:20px"></i>Loans</a></li>
				<li><%= link_to(raw('<i class="fa fa-sign-out" style="width:20px"></i>Logout'), destroy_user_session_path, :method => :delete) %></li>
			</ul>
		</nav>
		</div>

		<div class="content slide">
			<%= yield %>
		</div>
	</div>

</body>
</html>
